*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.center{
    display: flex;
    margin: o auto;
    max-width: 1100px;
    padding: 0 2%;
}

section.main{
    background-image: url('images/bg-grey.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding: 20px 0 80px 0;
}

.logo-menu{
    display: flex;
    align-items: center;
    padding: 2%;
}

.logo-menu img{
    width: 50px;
    user-select: none;
}

.logo-menu h3{
    cursor: default;
    user-select: none;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
}