*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.inner{
    display: flex;
    margin: o auto;
    width: 100%;
    padding: 0 2%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section.main{
    background-image: url('images/bg-grey.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding: 20px 0 80px 0;
}

.menu{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 2%;
    /* background: green; */
}

.logo-menu{
    display: flex;
    align-items: center;
    width: 50%;
}

.logo-menu img{
    width: 50px;
    user-select: none;
}

.logo-menu h3{
    cursor: default;
    user-select: none;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
}

.items-menu{
    /* background: red; */
    width: 50%;
    text-align: right;
}

.items-menu a{
    text-decoration: none;
    display: inline-block;
    margin: 0 2%;
}

.items-menu a:hover{
    border-bottom: 2px solid #FFD046;
}

.items-menu a.contact-btn{
    background-color: #72D6CA;
    padding: 10px 10px;
    border-radius: 10px;
    color: #766B6E;
}

.items-menu a.contact-btn:hover{
    border: 0;
}

.mockup{
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 2%;
}

.mockup h1{
    font-size: 40px;
}

.mockup p{
    font-size: 20px;
}

.mockup img{
    max-width: 50%;
}

section.brands{
    padding: 30px 0;
    /* background-color: red; */
}

section.brands img{
    width: 15%;
}